body
{
    padding-top:50px
}

/*FEATURETTES*/
.featurette-heading {
  font-weight: 260;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
  }
}

/*CAROUSEL*/
.carousel {
  height: 460px;
  margin-bottom: 30px;
}

.carousel-caption {
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 60px;
  text-align: left;
}

.carousel-caption p {
  font-size: 23px;
  text-align: left;
}

.carousel .item {
  height: 460px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 460px;
}

/*SIDEBAR*/
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > .active > a:hover {
  color: #428bca;
}

/*MAINCONTENT*/
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
