body
{
}

#mainNavbar
{
    background: #ff9a15; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9a15 0%, #de6f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9a15), color-stop(100%,#de6f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9a15 0%,#de6f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9a15 0%,#de6f00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9a15 0%,#de6f00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff9a15 0%,#de6f00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a15', endColorstr='#de6f00',GradientType=0 ); /* IE6-9 */
    border: none;
    -webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.37);
    box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.37);
}

#mainNavbar .navbar-brand
{
    color: white;
}

#mainContent
{
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-top: 50px;
}

#mainBody
{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*FEATURETTES*/
.featurette-heading {
  font-weight: 260;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
  }
}

/*CAROUSEL*/
.carousel 
{
    height: 600px;
    margin-bottom: 30px;
}

.carousel-caption 
{
    z-index: 10;
}

.carousel-caption h1 
{
    font-size: 60px;
    text-align: left;
}

.carousel-caption p 
{
    font-size: 23px;
    text-align: left;
}

.carousel .item 
{
    height: 600px;
    background-color: #777;
}

.carousel-inner > .item > img 
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}