
body {
    background-image: url("images/background.jpg");
    background-repeat: repeat;
}

#mainheader {
    background: darkorange; 
    border: none;
    border-bottom: 1px solid brown;
    border-radius: 0px;
}

#mainheader .navbar-brand {
    color: white;
}

#maincontent {
    margin-top: 70px;
}

#mainjumbotron * {
    color: white;
}