
body {
    background: antiquewhite;
}

#mainheader {
    background: darkorange; 
    border: none;
    border-bottom: 1px solid brown;
    border-radius: 0px;
}

#maincontent {
    margin-top: 70px;
}